<div class="row text-center">
    <div class="col-md-6 offset-3">
         <h1>
          An error has occured, what you are looking for does not exist.
         </h1>
         <hr />
         <a class="btn btn-outline-success" asp-controller="Rooms" asp-action="Index">Back to home</a>
    </div>
</div>